name: Daily Hotspots Update

on:
  schedule:
    - cron: '0 0 * * *' # 每天国际标准时间 00:00 (北京时间 08:00) 自动运行
  workflow_dispatch:      # 允许手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scripts/hotspots/requirements.txt

    - name: Generate Hotspots Page
      run: python scripts/hotspots/hotspots_generator.py

    - name: Commit and Push
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add public/hotspots.html
        git commit -m "Daily update: $(date +'%Y-%m-%d')" || exit 0
        git push
